
@import url(http://fonts.googleapis.com/css?family=Ubuntu);


body, html{
    height: 100%;
}
body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: Ubuntu, "Helvetica Neue";
}
body {
    // background-color: black;
    // margin: 0 auto;
    text-align: center;
    // width: 900px;
    // background-image:url('static/images/damask.jpg');
}
h1 {
    font-size: 5em;
    font-family: Ubuntu, Arvo, 'Ceviche One', sans-serif;
    margin-bottom: 0;
}
.subtitle {
    color: rgb(215,48,39);
    margin-top: 0;
    font-weight: 300;
}
a {
    color: #aaa;
}
iframe {
    border: none;
}


.wrapper {
    display: table;
    height: 100%;
    margin: 0 auto;
}
.cell {
    display: table-cell;
    vertical-align: middle;
}

#hottest {
    background-color: rgb(215,48,39);
    color: white;
    padding: 2em;
    text-align: left;
    padding: 0 auto;
}

#hottest img {
    width: 100%;
}

.rank {
    float: left;
    margin: 20px 10px 10px;
    border-radius: 50%;
    background-color: white;
    font-size: 2em;
    width: 50px;
    height: 50px; 
    color: rgb(215,48,39);
    text-align: center;
}

.thermo {
    font-size: 6em;
    margin-bottom: -.4em;
}

.rankforecast {
    font-size: 2em;
}

.hoodlisthead {
    position: relative;
    bottom: -.75em;
}

.listingpic {
    background-color: white;
    color: gray;
    height: 200px; 
}

#discover {
    background-color: rgb(69,117,180);
    color: white;
    padding: 2em;
    text-align: left;
    padding: 0 auto;
}


#me {
    height: 80px;
}

#aboutgrid {
    margin: 0 auto;
}
#codelinks {
    text-align: left;
    list-style-type: none;
}
#tooltip {
    position: absolute;
    border: 3px solid black;
    padding: 10px;
    width: 8.5em;
    height: 5em;
}
.sectionhead {
    font-size: 2em;
    letter-spacing: .2em;
    text-align: center;
}
#tooltip h2 {
    margin: 5px;
    font-size: 1.8em;
}
svg {
    float: left;
}
.domain {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}
.line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}
.forecast {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-dasharray: 1,4;
    stroke-width: 3px;
}
.forecasterror {
    fill: blue;
    opacity: .2;
}

#map > svg {
    fill: #eee;
}

.mapselected {
    opacity: .5;
    stroke: black;
    stroke-width: 1px;
}

.activehood {
    stroke: black;
    stroke-width: 2px;
}

// Map color scheme:
.q8-9 { fill:rgb(215,48,39); }
.q7-9 { fill:rgb(244,109,67); }
.q6-9 { fill:rgb(253,174,97); }
.q5-9 { fill:rgb(254,224,144); }
.q4-9 { fill:rgb(255,255,191); }
.q3-9 { fill:rgb(224,243,248); }
.q2-9 { fill:rgb(171,217,233); }
.q1-9 { fill:rgb(116,173,209); }
.q0-9 { fill:rgb(69,117,180); }

.header {
    padding-bottom: 20px;
}
.footer {
    padding-bottom: 20px;
}
.section{
    margin: 10px auto;
    // width: 900px;
    // border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    min-height: 100%;
}
.footer {
    border: none;
}

#main {
}
#logo {
    position: relative;
    height: 40px;
    top: 20px;
    float: left;
    //margin: 20px;
}
#hoodinfo {
    //border: 2px solid black;
    color: black;
    background-color: white;
    width: 410px;
    height: 370px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}
#hoodname {
    height: 1em;
    margin: 0;
}
#boroname {
    text: gray;
    font-style: italic;
    margin-top: 0;
}
#recommendation {
    border: 3px solid black;
    overflow: hidden;
}
#selectedtray {
    width: 500px;
    float: left
}
.selected {
    border: 2px solid black;
    width: 7em;
    margin: 5px;
    padding: 5px;
    float: left;
}

