
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Ceviche+One);

body {
    font-family: Oxygen, "Helvetica Neue";
    // background-color: black;
    margin: 0 auto;
    // width: 900px;
    // background-image:url('static/images/damask.jpg');
}
h1 {
    font-size: 2.8em;
    margin: 18px;
    float: left;
    font-family: 'Ceviche One', sans-serif;
    // color: #00ff00;
}
a {
    color: #aaa;
}
#header {
    background-color: black;
    color: white;
    overflow: hidden;
    //margin-top: 10px;
}
#headline {
    width: 900px;
    margin: 0 auto;
}
svg {
    float: left;
}
.domain {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}
.line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}
.forecast {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}
.forecasterror {
    fill: blue;
    opacity: .2;
}

#map {
    fill: gray;
}

.mapselected {
    opacity: .5;
    stroke: black;
    stroke-width: 1px;
}
.q8-9 { fill:rgb(215,48,39); }
.q7-9 { fill:rgb(244,109,67); }
.q6-9 { fill:rgb(253,174,97); }
.q5-9 { fill:rgb(254,224,144); }
.q4-9 { fill:rgb(255,255,191); }
.q3-9 { fill:rgb(224,243,248); }
.q2-9 { fill:rgb(171,217,233); }
.q1-9 { fill:rgb(116,173,209); }
.q0-9 { fill:rgb(69,117,180); }

#main {
    margin: 10px auto;
    width: 900px;
    background-color: white;
    overflow: hidden;
}
#logo {
    position: relative;
    height: 40px;
    top: 20px;
    float: left;
    //margin: 20px;
}
#hoodinfo {
    //border: 2px solid black;
    color: black;
    background-color: white;
    width: 400px;
    height: 370px;
    float: left;
    padding: 10px;
    margin: 10px;
}
#hoodname {
    height: 1em;
}
#boroname {
    text: gray;
    font-style: italic;
}
#selectedtray {
    width: 500px;
    float: left
}
.selected {
    border: 2px solid black;
    width: 7em;
    margin: 5px;
    padding: 5px;
    float: left;
}

