
@import url(http://fonts.googleapis.com/css?family=Ubuntu);


body, html{
    height: 100%;
}
body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: Ubuntu, "Helvetica Neue";
}
.pure-g > div{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    // background-color: black;
    // margin: 0 auto;
    text-align: center;
    // width: 900px;
    // background-image:url('static/images/damask.jpg');
}
h1 {
    font-size: 5em;
    font-family: Ubuntu, Arvo, 'Ceviche One', sans-serif;
    margin-bottom: 0;
}
.subtitle {
    color: rgb(215,48,39);
    margin-top: 0;
    font-weight: 300;
}
#edition {
    // letter-spacing: .2em;
    color: gray;
    margin: 0;
}
a {
    color: #aaa;
}
iframe {
    border: none;
}


.wrapper {
    display: table;
    height: 100%;
    margin: 0 auto;
}
.cell {
    display: table-cell;
    vertical-align: middle;
}

#hottest {
    background-color: rgb(215,48,39);
    color: white;
}

#hottest img {
    width: 90%;
    height: 80%;
    height: 140px;
    margin: 10px auto 0;
    clear: both;
}

#hottest .starmap img {
    height: 160px;
}

#hottest .metric {
    height: 175px;
}
#hottest .caption {
    color: gray;
}

.rank {
    float: left;
    margin: 20px 10px 10px;
    border-radius: 50%;
    background-color: white;
    font-size: 2em;
    width: 50px;
    height: 50px; 
    color: rgb(215,48,39);
    text-align: center;
}

.thermo {
    font-size: 6em;
    margin-bottom: -.4em;
}

.rankforecast {
    font-size: 2em;
}
.price {
    font-size: 3em;
}


.hoodlisthead {
    position: relative;
    font-size: 2.5em;
    bottom: .58em;
    margin-bottom: 0;
    text-align: left;
}

.rankzip {
    position: relative;
    font-size: .8em;
    margin-bottom: 0;
    color: #ccc;
}

.redborder {
    border: 2px solid rgb(215,48,39);
}
.whiteback {
    color: black;
    background-color: white;
}
.redback {
    color: white;
    background-color: rgb(215,48,39);
}
.blueback {
    color: white;
    background-color: rgb(69,117,180);
}

.listingbox {
    background-color: white;
    color: gray;
    height: 225px; 
    width: 225px;
    margin-bottom: 20px;
    border: 5px solid rgb(215,48,39);
    padding-bottom: 1em;
}

#discover {
    background-color: rgb(69,117,180);
    color: white;
    padding-bottom: 2em;
    text-align: left;
    padding: 0 auto;
}


#me {
    height: 80px;
}

#aboutgrid {
    margin: 0 auto;
}
#codelinks {
    text-align: left;
    list-style-type: none;
}
.sectionhead {
    font-size: 2em;
    letter-spacing: .2em;
    text-align: center;
}
#tooltip h2 {
    margin: 5px;
    font-size: 1.8em;
}
svg {
    float: left;
}
.domain {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}
.line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}
.forecast {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-dasharray: 1,4;
    stroke-width: 3px;
}
.forecasterror {
    fill: black;
    opacity: .2;
}

#tophoods {
    text-align: left;
    color: white;
}
.tophood {
    background-color: rgb(215,48,39);
    //font-size: 2em;
    border-radius: 2em;
    padding: .5em;
    margin: .5em;
    height: 1em;
}

#map > svg {
    fill: #eee;
}


.maphood {
    cursor: -webkit-zoom-in; cursor: -moz-zoom-in; cursor: zoom-in;
}

.maphover {
    opacity: .5;
    stroke: black;
    stroke-width: 1px;
}

.activehood {
    stroke: black;
    stroke-width: 2px;
}

// Map color scheme:
.q8-9 { fill:rgb(215,48,39); }
.q7-9 { fill:rgb(244,109,67); }
.q6-9 { fill:rgb(253,174,97); }
.q5-9 { fill:rgb(254,224,144); }
.q4-9 { fill:rgb(255,255,191); }
.q3-9 { fill:rgb(224,243,248); }
.q2-9 { fill:rgb(171,217,233); }
.q1-9 { fill:rgb(116,173,209); }
.q0-9 { fill:rgb(69,117,180); }

#nav {
    position: fixed;
    left: 1em;
    font-size: 2em;
}

#nav .navitem {
    border-radius: 1em;
    width: 1.25em;
    height: 1.25em;
    float: left;
    clear: left;
    text-decoration: none;
    margin-bottom: .2em;
    padding: .2em;
}

.header {
    margin-top: -2em;
    padding-bottom: 20px;
}
.footer {
    padding-bottom: 20px;
}
.section{
    // width: 900px;
    // border-bottom: 1px solid #eee;
    padding-top: 1em;
    padding-bottom: 2em;
    min-height: 100%;
}
.footer {
    border: none;
}

#main {
    //margin-bottom: 100px;
    min-height: 100%;
}
#logo {
    position: relative;
    height: 40px;
    top: 20px;
    float: left;
    //margin: 20px;
}
#hoodinfo {
    //border: 2px solid black;
    color: black;
    background-color: white;
    width: 410px;
    height: 370px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}
#hoodname {
    height: 1em;
    margin: 0;
}
#boroname {
    text: gray;
    font-style: italic;
    margin-top: 0;
}
#recommendation {
    border: 3px solid black;
    overflow: hidden;
    padding: 10px 10px 0px;
}
#recthermo {
    float: left;
    font-size: 4em;
}
.hot > #recthermo{
    color: rgb(215,48,39);
}
.cold > #recthermo{
    color: gray;
}
#rectext {
    float: left;
}
#recword {
    font-size: 2em;
}
#downarrow {
    margin-top: 20px;
    font-size: 1.4em;
    letter-spacing: 0;
}
.selected {
    border: 2px solid black;
    width: 7em;
    margin: 5px;
    padding: 5px;
    float: left;
}

