
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=600, user-scalable=true;">
    <title>Hot Hoods</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/css/pure-min.css" />
    <link href="static/webfonts/ss-forecast.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div id="nav" class="pure-hidden-phone pure-hidden-tablet">
        <a href="#hottest" class="navitem redback">
            <i class="icon-trophy"></i>
        </a>
        <a href="#explore" class="navitem whiteback">
            <i class="icon-map-marker"></i>
        </a>
        <a href="#discover" class="navitem blueback">
            <i class="icon-flag"></i>
        </a>
    </div>
    <div id="header" class="header">
        <h1>
            <i class="icon-home"></i>
        hothoods<span style="color: gray; font-size:.7em;">.info</span></h1>
        <h2 class="subtitle">Forecasting neighborhood trends in housing prices.</h2>
        <h3 id="edition"><i class="icon-building"></i><i class="icon-building"></i><i class="icon-building"></i>
             NYC EDITION <i class="icon-building"></i><i class="icon-building"></i><i class="icon-building"></i></h3>
    </div>
    <div id="hottest" class="section"> 
        <h2 class="sectionhead">TOP NEIGHBORHOODS</h2>
        <p style="margin-bottom: 0;">These neighborhoods ranked the highest in future growth potential.</p>
        <div class="pure-g" style="width: 80%; max-width: 1000px; margin: 20px auto;">
            {% for hood in listings %}
            <div class="pure-u-1 hoodrankbar">
                <div class="rank"><div class="wrapper"><div class="cell">{{ loop.index }}</div></div></div>
                <h3 class="hoodlisthead">{{ hood.hoodname }} <span class="rankzip">ZIP {{ hood.zipcode }}</span></h3>
            </div>
            <div class="pure-u-1-4 listingbox starmap">
                <img src="{{ hood.mapurl -}}">
                <span class="caption">{{ hood.borough }}</span>
            </div>
            <div class="pure-u-1-4 listingbox" style="text-align: center; color: rgb(215,48,39); ">
                <div class="wrapper metric">
                    <div class="cell">
                        <div class="thermo"><i class="ss-icon">{{ hood.forecast_icon }}</i></div>
                        <br>
                        <span class="rankforecast">{{ hood.forecast }}</span>
                    </div>
                </div>
                <span class="caption">12-month Forecast</span>
            </div>
            <div class="pure-u-1-4 listingbox" style="text-align: center; color: rgb(215,48,39); ">
                <div class="wrapper metric">
                    <div class="cell">
                        <span class="price">{{ hood.median_price }}</span>
                    </div>
                </div>
                <span class="caption">Median Price: 1.2k sqft</span>
            </div>
            <div class="pure-u-1-4 listingbox">
                <img src="{{ hood.listing_photo_url -}}">
                <br><a target="_blank" href="{{ hood.listing_url -}}">{{ hood.listing_address }}<br>{{ hood.listing_price }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="explore" class="section">
        <h2 class="sectionhead">EXPLORE</h2>
        <p style="text-align: center;">Click on a neighborhood to learn more about its price trends.</p>
        <div class="pure-g-r section">
            <div id="map" class="pure-u-1-4">
            </div>
            <div id="hoodinfo" class="pure-u-1-2">
                <h2 id="hoodname"></h2>
                <p id="zip"></p>
                <div id="recommendation">
                    <div id="recthermo"></div>
                    <div id="rectext">
                        <div class="container"><div class="cell"><span id="recword">BUY</span> </div></div>
                        <span id="recexplain"></span>
                        <br>
                        <span id="recquantitative">12-month growth estimate: <strong id="recestimate"></strong></span>
                    </div>
                </div>
            </div>
            <div id="downarrow" class="pure-u-1 pure-hidden-phone pure-hidden-tablet">
                <i class="icon-long-arrow-down"></i> 
                Scroll down to see listings in this neighborhood.
                <i class="icon-long-arrow-down"></i> 
            </div>
        </div>
    <div id="discover" class="section pure-hidden-phone"> 
        <h2 class="sectionhead">DISCOVER</h2>
        <div class="pure-g" style="width: 900px; margin: 0 auto;">
            <div class="pure-u-1">
                <iframe id="truliaframe" width="900" height="600" src="">
                </iframe>
            </div>
        </div>
    </div>
</div>
<div id="about" class="footer">
    <div class="pure-g-r" style="">
        <div class="pure-u-1">
            <h2 class="sectionhead">MORE INFORMATION</h2>
        </div>
        <div class="pure-u-1-4" style="padding: 0 1em 1em;">
            <h3>How does it work?</h3>
            <p><i class="icon-link"></i> <a target="_blank" href="http://jvmcd.nl/hothoods/#7">Methods slide</a></p>
            <p>
                This app provides analytics on the trends in New York City
                real estate prices since 2003. It's the result of comparing
                the predictions made by econometric forecasting models.
                The model that offered the best traction used exponential
                smoothing to determing the true value of prices on any
                given time, and the 10-year trend of the random walk those
                prices are taking. It would be really neat to try to
                correlate this with other geotemporal variables like subway
                ridership, something I'm looking into now.
            </p>
        </div>
        <div class="pure-u-1-4" style="padding: 0 1em 1em;">
            <h3>How well does it do?</h3>
            <p><i class="icon-link"></i> <a target="_blank" href="http://jvmcd.nl/hothoods/#8">Validation slide</a></p>
            <p>
                To test the model, I took its predictions in December
                2010 and built an index for each neighborhood.  If
                you bought randomly based on market cap, you'd have made
                respectable 13% nominal return in two years. If you bought the top 5
                neighborhoods in the model, you'd have made, a killing,
                with 42% returns!  This validation technique assumes a
                highly diversified portfolio, so buyer beware. For more
                info, take a look at the <a target="_blank"
                    href="http://jvmcd.nl/hothoods/#8">project slides</a>.
            </p>
        </div>
        <div class="pure-u-1-4" style="padding: 0 1em 1em;">
            <h3>About the developer</h3>
            <p><i class="icon-link"></i> <a target="_blank" href="http://jvmcd.nl">Academic website</a></p>
            <p>
            My name is John McDonnell. I just defended my PhD thesis in the cognitive psychology of
            learning and reasoning at the <a href="http://nyuccl.org">NYU
                Computation & Cognition Lab</a>. I focused on computational
            models as a way of formalizing psychological theories. You can
            see some of my academic work <a
                href="http://jvmcd.nl">here</a>. As part of that work, I
            became the lead developer on <a
                href="https://github.com/NYUCCL/psiTurk">PsiTurk</a>, an
            online crowdsourcing platform for running experiments on
            Amazon's <a href="http://mturk.com"> Mechanical Turk</a> service.
            </p>
        </div>
        <br>
        <div class="pure-u-1-8" style="padding: 0 1em 1em;">
            <!-- <h3>Code</h3> -->
            <h4 style="text-align: left; margin: 0;">Repositories:</h4>
            <ul id="codelinks" style="margin: 0; padding-left: 1em;">
                <li><i class="icon-github"></i> <a href="https://github.com/johnmcdonnell/hothoods-frontend">Web stack</a></li>
                <li><i class="icon-github"></i> <a href="https://github.com/johnmcdonnell/hothoods_analytics">Analytics</a></li>
                <li><i class="icon-github"></i> <a href="https://github.com/johnmcdonnell/hothoods-backend">Munging</a></li>
            </ul>
        </div>
        <div class="pure-u-1-8" style="padding: 0 1em 1em;">
            <h4 style="text-align: left; margin-bottom: 0;">Slides:</h4>
            <ul id="codelinks" style="margin: 0; padding-left: 1em;">
                <li><i class="icon-picture"></i> <a target="_blank"  href="http://jvmcd.nl/hothoods">Slides</a></li>
            </ul>
        </div>
        <div class="pure-u-1-4" style="padding: 0 1em 1em;">
            <!-- <h3>Data</h3> -->
            <div class="wrapper" style="margin: 0 auto; height: 110px;">
                <div class="cell" style="position: relative;">
                    <img src="static/images/nycopendata.png">
                </div>
            </div>
        </div>
        <div class="pure-u-1-4" style="padding: 0 1em 1em;">
            <!-- <h3>Author</h3> -->
            <div class="wrapper" style="margin: 0 auto; height: 110px;">
                <div class="cell" style="position: relative;">
                    <img id="me" src="static/images/john_sketch.png"><br>A <a href="http://jvmcdonnell.com"> jvmcdonnell.com </a> production
                </div>
            </div>
        </div>
    </div>
</div>
<script src="static/js/underscore.js"></script>
<script src="static/js/d3.v3.min.js"></script>
<script src="static/js/queue.v1.min.js"></script>
<script src="static/js/topojson.js"></script>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/drawmap.js"></script>
<script src="static/js/drawchart.js"></script>

<script>
    $("#hoodinfo").fadeTo(0, 0); // Todo replace with CSS
    $("#downarrow").fadeTo(0, 0); // Todo replace with CSS
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44254059-1', 'hothoods.info');
  ga('send', 'pageview');

</script>
