
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hot Hoods</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/css/pure-min.css" />
    <link href="static/webfonts/ss-forecast.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div id="nav">
        <a href="#hottest" class="navitem redback">
            #
        </a>
        <a href="#explore" class="navitem whiteback">
            <i class="icon-map-marker"></i>
        </a>
        <a href="#discover" class="navitem blueback">
            <i class="icon-flag"></i>
        </a>
    </div>
    <div id="header" class="header">
        <h1>
            <i class="icon-home"></i>
        hothoods<span style="color: gray; font-size:.7em;">.info</span></h1>
        <h2 class="subtitle">Forecasting neighborhood trends in housing prices.</h2>
        <h3 id="edition"><i class="icon-building"></i><i class="icon-building"></i><i class="icon-building"></i>
             NYC EDITION <i class="icon-building"></i><i class="icon-building"></i><i class="icon-building"></i></h3>
    </div>
    <div id="hottest" class="section"> 
        <h2 class="sectionhead">TOP NEIGHBORHOODS</h2>
        <p style="margin-bottom: 0;">These neighborhoods ranked the highest in future growth potential.</p>
        <div class="pure-g" style="width: 900px; margin: 20px auto;">
            <div class="pure-u-3-4 hoodrankbar">
                <div class="rank"><div class="wrapper"><div class="cell">1</div></div></div>
                <h3 class="hoodlisthead">Flatiron </h3>
            </div>
            <div class="pure-u-1-4 hoodrankbar">
                <h3 class="rankzip" >ZIP 10010</h3>
            </div>
            <div class="pure-u-1-4 starmap">
                <img src="static/images/flatiron.png">
                <br>MANHATTAN
            </div>
            <div class="pure-u-1-4 listingpic" style="text-align: center; color: rgb(215,48,39); ">
                <div class="wrapper metric">
                    <div class="cell">
                        <div class="thermo"><i class="ss-icon"></i></div>
                        <br>
                        <span class="rankforecast">+18%</span>
                    </div>
                </div>
                <span class="caption">12-month Forecast</span>
            </div>
            <div class="pure-u-1-4 listingpic" style="text-align: center; color: rgb(215,48,39); ">
                <div class="wrapper metric">
                    <div class="cell">
                        <span class="price">$790k</span>
                    </div>
                </div>
                <span class="caption">Median Price: 1.2k sqft</span>
            </div>
            <div class="pure-u-1-4 listingpic">
                <img src="http://p.rdcpix.com/v01/l8a246144-m1x.jpg">
                25 N Moore St Ph B<br>$5,400,000
            </div>
            <div class="pure-u-3-4 hoodrankbar">
                <div class="rank"><div class="wrapper"><div class="cell">2</div></div></div>
                <h3 class="hoodlisthead">Central Harlem </h3>
            </div>
            <div class="pure-u-1-4 hoodrankbar">
                <h3 class="rankzip" >ZIP 10037</h3>
            </div>
            <div class="pure-u-1-4 starmap">
                <img src="static/images/centralharlem.png">
                <br>MANHATTAN
            </div>
            <div class="pure-u-1-4 listingpic" style="text-align: center; color: rgb(215,48,39); ">
                <div class="wrapper metric">
                    <div class="cell">
                        <div class="thermo"><i class="ss-icon"></i></div>
                        <br>
                        <span class="rankforecast">+16%</span>
                    </div>
                </div>
                <span class="caption">12-month Forecast</span>
            </div>
            <div class="pure-u-1-4 listingpic" style="text-align: center; color: rgb(215,48,39); ">
                <div class="wrapper metric">
                    <div class="cell">
                        <span class="price">$185k</span>
                    </div>
                </div>
                <span class="caption">Median Price: 1.2k sqft</span>
            </div>
            <div class="pure-u-1-4 listingpic">
                <img src="http://p.rdcpix.com/v01/l69012644-m0x.jpg">
                579 W 215th St<br>$178,500
            </div>
            <div class="pure-u-3-4 hoodrankbar">
                <div class="rank"><div class="wrapper"><div class="cell">3</div></div></div>
                <h3 class="hoodlisthead">Midtown East </h3>
            </div>
            <div class="pure-u-1-4 hoodrankbar">
                <h3 class="rankzip" >ZIP 10017</h3>
            </div>
            <div class="pure-u-1-4 redback starmap">
                <img src="static/images/midtowneast.png">
                <br>MANHATTAN
            </div>
            <div class="pure-u-1-4 listingpic" style="text-align: center; color: rgb(215,48,39);">
                <div class="wrapper">
                    <div class="cell">
                        <div class="thermo"><i class="ss-icon"></i></div>
                        <br>
                        <span class="rankforecast">+16%</span>
                        <br>
                        12-month Forecast
                    </div>
                </div>
            </div>
            <div class="pure-u-1-4 listingpic" style="text-align: center; color: rgb(215,48,39); ">
                <div class="wrapper metric">
                    <div class="cell">
                        <span class="price">$1,270k</span>
                    </div>
                </div>
                <span class="caption">Median Price: 1.2k sqft</span>
            </div>
            <div class="pure-u-1-4 listingpic">
                <img src="http://p.rdcpix.com/v01/l35814a44-m0x.jpg">
                75 Ludlow St # 2a<br>$1,595,000
            </div>
        </div>
    </div>
    <div id="explore" class="section">
        <h2 class="sectionhead">EXPLORE</h2>
        <p style="text-align: center;">Click on a neighborhood to learn more about its price trends.</p>
        <div class="pure-g section">
            <div id="map" class="pure-u-1-4">
            </div>
            <div id="hoodinfo" class="pure-u-1-2">
                <h2 id="hoodname"></h2>
                <p id="zip"></p>
                <div id="recommendation">
                    <div id="recthermo"></div>
                    <div id="rectext">
                        <div class="container"><div class="cell"><span id="recword">BUY</span> </div></div>
                        <span id="recexplain"></span>
                    </div>

                        <!-- <div style="float: left; width: 80%;">The <strong><em>HoodHeat</em></strong> indicator predicts that prices in this market will increase 8% in the next 12 months.</div> -->
                </div>
            </div>
            <div id="downarrow">
                <i class="icon-long-arrow-down"></i> 
                Scroll down to see listings in this neighborhood.
                <i class="icon-long-arrow-down"></i> 
            </div>
        </div>
    <div id="discover" class="section"> 
        <h2 class="sectionhead">DISCOVER</h2>
        <div class="pure-g" style="width: 900px; margin: 0 auto;">
            <div class="pure-u-1">
                <iframe id="truliaframe" width="900" height="600" src="">
                </iframe>
            </div>
        </div>
    </div>
    <div id="about" class="footer">
        <div class="pure-g" style="width: 900px; margin: 0 auto;">
            <div class="pure-u-1">
                <h2 class="sectionhead">ABOUT</h2>
            </div>
        </div>
        <div id="aboutgrid" class="pure-g-r">
            <div class="pure-u-1-5">
                <!-- <h3>Author</h3> -->
                <img id="me" src="static/images/john_sketch.png"><br>A <a href="http://jvmcdonnell.com"> jvmcdonnell.com </a> production
            </div>
            <div class="pure-u-1-3">
                <!-- <h3>Data</h3> -->
                <div class="wrapper" style="margin: 0 auto; height: 110px;">
                    <div class="cell" style="position: relative;">
                        <img src="static/images/nycopendata.png">
                    </div>
                </div>
            </div>
            <div class="pure-u-1-5">
                <!-- <h3>Code</h3> -->
                <p style="text-align: left;">Repositories:</p>
                <ul id="codelinks">
                    <li><i class="icon-github"></i> <a href="https://github.com/johnmcdonnell/hothoods-frontend">Web stack</a></li>
                    <li><i class="icon-github"></i> <a href="https://github.com/johnmcdonnell/hothoods_analytics">Analytics</a></li>
                    <li><i class="icon-github"></i> <a href="https://github.com/johnmcdonnell/hothoods-backend">Munging</a></li>
                </ul>
            </div>
        </div>
    </div>
<script src="static/js/underscore.js"></script>
<script src="static/js/d3.v3.min.js"></script>
<script src="static/js/queue.v1.min.js"></script>
<script src="static/js/topojson.js"></script>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/drawmap.js"></script>
<script src="static/js/drawchart.js"></script>

<script>
    $("#hoodinfo").fadeTo(0, 0); // Todo replace with CSS
    $("#downarrow").fadeTo(0, 0); // Todo replace with CSS
</script>
